<div class="col-6">
    <button type="submit" class="btn btn-primary form-control">Create</button>
</div>
<div class="col-6">
    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
</div>