@model int
<div class="row">
    <div class="col-6">
        <button type="submit" class="btn btn-primary form-control" asp-route-Id="@Model">Delete</button>
    </div>
    <div class="col-6">
        <a class="btn btn-success form-control" asp-action="Index">Back to List</a>
    </div>
</div>