<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-primary form-control" value="Update" />
    </div>
    <div class="col-6">
        <a class="btn btn-success form-control" asp-action="Index">Back to List</a>
    </div>
</div>