@model int
<td style="width:150px;">
    <div class="btn-group" role="group">
        <a class="btn btn-primary text-light" asp-action="Edit" asp-route-Id="@Model"><i class="fas fa-edit"></i></a>
        <a class="btn btn-success text-light" asp-action="Details" asp-route-Id="@Model"><i class="fas fa-list-ul"></i></a>
        <a class="btn btn-danger text-light" asp-action="Delete" asp-route-Id="@Model"><i class="fas fa-trash-alt"></i></a>
    </div>
</td>